  .creation-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; 
    background-image: url('../../../assets/images/admin.png');
    background-size: cover;
    background-position: center;
    overflow: hidden; 
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    padding: 20px;
    position: relative;
    height: 100px; 
  }

  app-button {
    position: absolute;
    left: 20px; 
  }

  .game-mode-options {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  h1 {
    font-size: 2.7rem;
}
